{% extends 'home.html' %}

{% block content %}


<div class="container">
  <div class="row">
{% for product in products %}

<div class="col-md-3">
<div class="card" style="width: 18rem;">
    <img src="{{product.image.url}}" height="100px" width="100px" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">{{product.price}}</p>
      <p class="card-text">{{product.size}}</p>
      <a  href="{% url 'home' %}" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>

{% endfor %}
</div>
</div>

  {% endblock %}    